//- #prenav
//-   .container
//-     .row.justify-content-between
//-       .col-sm-10
//-         .py-1.d-flex
//-           .d-block.w-25.text-right.pr-3 Latest Updates: 
//-           marquee Applications for Freelance Track is open
//-       .col-sm-2.text-right
//-         a.button(target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScA3Q8t4GjWkFq3G5NFWdXQ65LmjlWiUBZAVA9nF7hb5CPw_g/viewform?usp=sf_link") Apply Now

nav#navbar
  .hamburger-menu.d-lg-none
    span
    span
    span
    span
  .container
    .row
      .col-sm-4
        .d-flex
          .logo
          .we
  .menu
    .logo
    ul
      include menu.pug

script(src="./script/nav.js" defer)