li.my-px
  a.nav-item(href="index.pug") Home
li.my-px
  a.nav-item(href="westart.pug") We Start
li.my-px
  a.nav-item(href="index.pug#banner-section") We Grow
li.my-px
  a.nav-item(href="#ksum-footer") Contact
li.my-px.ml-auto.blink
  a.nav-item(href="https://www.airmeet.com/e/4463a000-1759-11eb-a57b-2525394868c3" target="_blank") Join Session - Freelancer Bootcamping