@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&family=Montserrat:wght@200;400;600&display=swap');
@import "~bootstrap/scss/bootstrap";
@import './mixins';
body {
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
  font-weight: 300;
}

h1,
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

h3,
h5 {
  font-family: 'Roboto', sans-serif;
}

.text-justify {
  text-align: justify;
}

.alternate {
  background: #f3f5f6;
}

.hightlight {
  color: #fc5e28;
  font-weight: 700;
}

.button {
  padding: .5rem 1rem;
  display: inline-block;
  color: #fc5e28;
  text-decoration: none;
  border: 1px solid #fc5e28;
  transition: all 500ms ease-in;
  &:hover {
    background: #fc5e28;
    color: white;
  }
}

#ksum-footer {
  background: #222229;
  color: #dbdbdb;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  @include my_bp(sm) {
    flex-direction: row;
  }
  .left {
    text-align: center;
    @include my_bp(sm) {
      width: 35%;
    }
    p {
      margin: 0;
      font-size: 1rem;
    }
    .phone {
      font-size: 2rem;
      font-weight: 600;
      color: white;
      padding: 10px 0;
      svg {
        width: 2rem;
        height: 2rem;
        margin-right: .5rem;
        color: #3fafef;
      }
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    font-size: 1rem;
    @include my_bp(sm) {
      margin: 0;
      width: 35%;
    }
  }
}

#ksum-copy {
  background: #1c1c21;
  color: #b1b1b1;
  padding: 20px 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}