@import './mixins';
.timeline {
  ul {
    padding: 1em 0 0 2em;
    margin: 0;
    list-style: none;
    position: relative;
    &::before {
      content: ' ';
      height: 100%;
      width: 1px;
      background-color: #d9d9d9;
      position: absolute;
      top: 0;
      left: 2.5em;
      z-index: -1;
    }
  }
  li {
    div {
      display: inline-block;
      margin: .75em 0;
      vertical-align: top;
    }
  }
  .bullet {
    width: 1em;
    height: 1em;
    box-sizing: border-box;
    border-radius: 50%;
    background: #fff;
    z-index: 1;
    margin-right: 1em;
  }
  .bullet.pink {
    border: 2px solid #e64cff;
  }
  .bullet.green {
    border: 2px solid #B0E8E2;
  }
  .bullet.orange {
    border: 2px solid #e016ff;
  }
  .time {
    width: 100px;
    font-size: 12px;
    padding-top: 0.25em;
    font-weight: bold;
  }
  .desc {
    width: 65%;
    margin-left: 20px;
  }
  h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #1b1752;
  }
  h2 {
    font-size: 20px;
    font-weight: bold;
    color: #fc5e28;
  }
  h4 {
    margin: 0;
    font-size: 0.7em;
    font-weight: 400;
    color: #808080;
  }
  .people {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 10px;
    align-items: self-start;
    .people-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 180px;
      padding-bottom: 20px;
      @include my_bp(sm) {
        width: 200px;
        padding: 0 20px 10px 20px;
      }
      .descp {
        margin-top: 5px;
      }
    }
    h3 {
      font-size: 14px;
      flex-wrap: wrap;
    }
    h4 {
      font-size: 12px;
      font-weight: normal;
    }
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border-right: 3px solid #fc5e28;
      border-bottom: 3px solid #fc5e28;
    }
  }
  hr {
    clear: both;
    border: none;
    padding: 0;
    margin: 0;
    height: 3px;
    // border-bottom: 3px solid rgba(0, 0, 0, .07);
    background: linear-gradient(90deg, rgba(214, 31, 77, 1) 0%, rgba(50, 50, 51, 0) 100%);
    margin-bottom: 10px;
  }
}