@import './mixins';
#header-section {
  height: 80vh;
  background-image: url('../images/bg-westart2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  text-align: center;
  .overlay {
    width: 100%;
    height: 100%;
    background: #00000066;
    // backdrop-filter: blur(2px);
    position: absolute;
  }
  .info-container {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    h1 {
      font-size: 4rem;
    }
  }
}

.section-content {
  padding-top: 80px;
  padding-bottom: 80px;
}

#footer {
  background: #e22295;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

#hero-section {
  .hightlight {
    color: #fc5e28;
    font-weight: 400;
  }
  .hero-image {
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    @include my_bp(md) {
      width: 80%;
      height: 70vh;
      margin-bottom: 0;
    }
    &:before {
      position: absolute;
      bottom: 0;
      right: 0;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 120px 120px 0 0;
      border-color: transparent #fc5e28;
    }
  }
  ul {
    list-style: none;
    li {
      clear: left;
      &:before {
        content: "";
        height: 1em;
        width: 1em;
        display: block;
        float: left;
        margin-left: -1.5em;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        top: 2px;
        position: relative;
        color: #fc5e28;
      }
    }
    &.cursor {
      li:before {
        content: url('../images/cursor.svg');
      }
    }
    &.pencil {
      li:before {
        content: url('../images/pencil.svg');
      }
    }
  }
}

#banner-section {
  background: #040e26;
  position: relative;
  color: white;
  .banner-image {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    @include my_bp(sm) {
      width: 50%;
      background-attachment: inherit;
    }
  }
  .bg-blue {
    z-index: 4;
    position: relative;
    background: #040e26;
    padding: 2rem 1rem;
    @include my_bp(sm) {
      padding: inherit;
    }
  }
  ul {
    list-style: none;
    li {
      clear: left;
      &:before {
        content: "";
        height: 1em;
        width: 1em;
        display: block;
        float: left;
        margin-left: -1.5em;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        top: 2px;
        position: relative;
        color: #fc5e28;
      }
    }
    &.cursor {
      li:before {
        content: url('../images/cursor.svg');
      }
    }
    &.network {
      li:before {
        content: url('../images/network.svg');
      }
    }
  }
}

#event-section {
  .event {
    margin-bottom: 2rem;
    display: block;
    text-decoration: none;
    color: black;
    position: relative;
    &:hover {
      .text {
        background-color: #fc5e28;
        color: white;
        .subheading {
          color: whitesmoke;
        }
      }
      &:before {
        opacity: 1;
      }
    }
    &:before {
      background: #fc5e28;
      content: '+';
      font-weight: 900;
      font-size: 3rem;
      position: absolute;
      color: white;
      padding: .25rem 2rem;
      transition: all 300ms ease;
      opacity: 0;
      left: 50%;
      top: 50%;
      margin-left: -60px;
      margin-top: -60px;
      @include my_bp(sm) {
        padding: 1rem 3rem;
      }
    }
    .event-image {
      width: 100%;
      height: 30vh;
      background-size: cover;
      background-repeat: no-repeat;
      @include my_bp(md) {
        height: 40vh;
      }
    }
    .text {
      width: 90%;
      background: #fff;
      padding: 20px;
      margin: 0 auto;
      margin-top: -50px;
      border-radius: 4px;
      box-shadow: 0 15px 46px -16px rgba(0, 0, 0, .2);
      transition: all 300ms ease-in;
      h4 {
        font-size: 1.2rem;
        font-weight: 700;
      }
      .subheading {
        color: #fc5e28;
        font-weight: 400;
        transition: all 300ms ease;
      }
    }
  }
}

#apply-section {
  .apply {
    position: relative;
    padding: 3rem 1rem;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: #040e26;
      position: absolute;
      top: 0;
      left: 0;
      opacity: .8;
    }
    .content {
      position: relative;
      color: white;
    }
    h3 {
      font-weight: 700;
    }
    .button {
      background: #fc5e28;
      color: white;
      padding: 15px 10px;
      text-decoration: none;
      transition: all 500ms ease;
      display: block;
      width: 150px;
      text-align: center;
      margin: 0 auto;
      font-weight: 700;
      &:hover {
        transform: translateX(10px);
      }
    }
  }
}