extend layouts/default.pug

block head
  link(rel="stylesheet" href="./style/home.scss")

block page
  section#header-section
    .overlay
    .info-container
      h1 Kerala Women Incubation Network
      h3 For Entrepreneurs & Freelancers

  section.section-content.alternate
    .container
      .row.justify-content-evenly
        .col-lg-4.col-md-6
          .card.mb-3
            img.card-img-top(src="./images/bg-2020.jpg")
            .card-body  
              h4.hightlight Women Startup Summit 2020
              p.m-0.mb-2.text-truncate In the digital world, information is within the fingertips has intervened in many lives making a huge impact. 
              a.stretched-link.button(href="https://startupmission.in/womensummit/" target="_blank") Know More

        .col-lg-4.col-md-6
          .card.mb-3
            img.card-img-top(src="./images/wss-award.png")
            .card-body  
              h4.hightlight WSS Award 2020
              p.m-0.mb-2.text-truncate Kerala Startup Mission in connection with the annual Women Startup Summit is inviting nominations award categories.
              a.stretched-link.button(href="https://startupmission.in/womensummit/award" target="_blank") Know More


  section.section-content#hero-section
    .container
      .row.align-items-center
        .col-md-6
          .hero-image(style="background-image: url('./images/westart1.jpg')")
        .col-md-6
          .hightlight Freelancer Track for Women
          h2 WE Start Program
          p.text-justify Are you a professional interested in exploring career options which will allow you to work from home? Unlike normal jobs, Freelancing gives you to option to select the place, time and manner in which to do work. 
          p Support for aspiring women to start
          ul.cursor
            li Freelance Projects
            li Technology Ventures
            li Asset-light businesses
            li MSME’s
          p 8 week program focused on
          ul.pencil
            li Learning the basics of the Business
            li Understanding opportunity landscape
            li Experience sharing by established peers
          a.button(href="westart.pug") Know More

  section.section-content#banner-section
    .banner-image(style="background-image: url('./images/wegrow1.jpg')")
    .container
      .row.no-gutter
        .col-md-6.bg-blue
          h2 WE Growth Program
          p Network of 
          ul.network
            li Experienced freelancers
            li Established founders and 
            li Technology leaders
          p Membership Program with Access to
          ul.cursor
            li Annual Women Conference
            li Quarterly Theme-wise Meetups
            li Monthly Webinar series on Success Stories
        .col-md-6
    
  section.section-content#event-section
    .container

      h1.text-center.mb-5 Past Events
      .row.justify-content-evenly
        .col-sm-5
          a.event(target="_blank" href="http://startupmission.in/womensummit/2019.html")
            .event-image(style="background-image: url('./images/wss-2019.jpg')")
            .text
              .subheading Annual Networking Event
              h4 Women Startup Summit 2019
        .col-sm-5
          a.event(target="_blank" href="https://startupmission.in/k-wins/")
            .event-image(style="background-image: url('./images/panel.jpg')")
            .text
              .subheading Webinar
              h4 Initiation Program For Freelancers
        .col-sm-5
          a.event(target="_blank" href="http://www.climateready.in/")
            .event-image(style="background-image: url('./images/climate.jpg')")
            .text
              .subheading Mentorship program for women startups
              h4 Climate Ready for Women
        .col-sm-5
          a.event(target="_blank" href="http://www.startupmission.in/shelovestech/")
            .event-image(style="background-image: url('./images/slt.jpg')")
            .text
              .subheading Felicitation for Women Startups
              h4 Shelovestech India 2019

