extend layouts/default.pug

block head
  link(rel="stylesheet" href="./style/westart.scss")
  link(rel="stylesheet" href="./style/timeline.scss")

include ./layouts/partials/mixins.pug

block page
  section#header-section
    .overlay
    .info-container
      h1 We Start
      h3 Freelancer Track for Women

  section.section-content#hero-section
    .container
      .row.align-items-center
        .col-md-6
          .hero-image(style="background-image: url('./images/bg-westart1.png')")
        .col-md-6
          .hightlight Freelancer Track for Women
          h2 WE Start Program
          p.text-justify
            | Are you a professional interested in exploring career options which will allow you to work from home? Unlike normal jobs, Freelancing gives you to option to select the place, time and manner in which to do work. 
            | Global 'Gig' economy is $1.5 trillion in size. In India, the freelance industry is estimated to grow to $20 - 30 billion by 2025.
            | Interested to know more? Drop in your application to participate in the Kerala Freelancer Bootcamp.
          p
           b Bootcamp Agenda
          ul.cursor
            li How the Gig Economy works
            li Choosing what skill to Freelance
            li Setting up your profile and finding Work
            li Evaluating jobs and sending your proposal
            li Investing in yourselves
          h4 Everything is Online: No Travel Required
  
  section#apply-section
    .container
      .apply(style="background-image: url('./images/wegrow1.jpg')")
        .content
          h3 The top 10 participants will be selected for a 8 week Incubation Program
          p Applications for Freelance Track is open
          a.button(target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScA3Q8t4GjWkFq3G5NFWdXQ65LmjlWiUBZAVA9nF7hb5CPw_g/viewform?usp=sf_link") Apply Now

  section.section-content#app
    .container
      .row
        .col-sm-12
          h3 Program Schedule
          +sched('We Start')
      .row.pt-5
        .col-sm-12
          p The incubation program will help you get started with your freelancing career. During the 8 week program you will go through the following modules:
          ul
            li Evaluating your strengths and understanding what skills to enhance
            li Creating a Portfolio: What you need and what you don't
            li Exploring Freelance Marketplaces (Putting your eggs in different baskets)
            li Setting up your routine and tools for work-life productivity
            li Let's get you your first client!

block script
  script(src="./script/vue_home.js")


